In [7]:
import pandas as pd

# Load your uploaded file
df = pd.read_csv('/content/Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [8]:
# Import necessary libraries
import pandas as pd

# Load dataset
df = pd.read_csv('Mall_Customers.csv')  # replace if filename is different
print("Initial Data:\n", df.head())

# Shape of original data
print("\nOriginal shape:", df.shape)

# Check missing values
print("\nMissing values:\n", df.isnull().sum())

# Check duplicates
print("\nDuplicates before removal:", df.duplicated().sum())
df = df.drop_duplicates()

# Standardize text - gender
df['Gender'] = df['Gender'].str.lower().str.strip()

# Rename columns
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# Convert data types (example: ensure age and income are numeric)
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['annual_income_(k$)'] = pd.to_numeric(df['annual_income_(k$)'], errors='coerce')

# Save cleaned dataset
df.to_csv('cleaned_mall_customers.csv', index=False)

# Final checks
print("\nCleaned Data Preview:\n", df.head())
print("\nFinal shape:", df.shape)

Initial Data:
    CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

Original shape: (200, 5)

Missing values:
 CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

Duplicates before removal: 0

Cleaned Data Preview:
    customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    male   19                  15                      39
1           2    male   21                  15                      81
2           3  female   20                  16                       6
3           4  female   23                  16                      77
4           5  female   31                  17                      40

Final shape: (200, 5)

In [9]:
# üìå Step 1: Import Libraries
import pandas as pd

# üìå Step 2: Load Original Dataset
df = pd.read_csv('/content/Mall_Customers.csv')  # Make sure this file is uploaded first

print("‚úÖ ORIGINAL DATA:")
print(df.head())

# üìå Step 3: Add Duplicate and Null Values for Demo
# Add a duplicate row (copy row 0)
df = pd.concat([df, df.iloc[[0]]], ignore_index=True)

# Add some null values
df.loc[1, 'Age'] = None
df.loc[3, 'Annual Income (k$)'] = None
df.loc[5, 'Gender'] = None

# Save the version with issues (optional)
df.to_csv('/content/Mall_Customers_with_issues.csv', index=False)

print("\n‚ö†Ô∏è DATA WITH ADDED DUPLICATES AND NULLS:")
print(df.head(7))

# üìå Step 4: Clean the Data

# Step 4.1: Drop Duplicates
df = df.drop_duplicates()

# Step 4.2: Handle Missing Values
# Let's drop rows with any nulls for this demo
df = df.dropna()

# Step 4.3: Standardize Text
df['Gender'] = df['Gender'].str.lower().str.strip()

# Step 4.4: Rename Columns
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# Step 4.5: Convert Data Types
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['annual_income_(k$)'] = pd.to_numeric(df['annual_income_(k$)'], errors='coerce')
df['spending_score_(1-100)'] = pd.to_numeric(df['spending_score_(1-100)'], errors='coerce')

# üìå Step 5: Save Cleaned Data
df.to_csv('/content/cleaned_mall_customers.csv', index=False)

print("\n‚úÖ CLEANED DATA:")
print(df.head())

‚úÖ ORIGINAL DATA:
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

‚ö†Ô∏è DATA WITH ADDED DUPLICATES AND NULLS:
   CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                      39
1           2    Male   NaN                15.0                      81
2           3  Female  20.0                16.0                       6
3           4  Female  23.0                 NaN                      77
4           5  Female  31.0                17.0                      40
5           6    None  22.0                17.0                      76
6           7  Female  35.0                18.0                       6

‚úÖ CLEANED DATA:
   customerid  gender   age  annual_income_(k$)  spending_score_(1-100)
0           1    male  19.0                15.0                      39
2           3  female  20.0                16.0                       6
4           5  female  31.0                17.0                      40
6           7  female  35.0                18.0                       6
7           8  female  23.0                18.0                      94